.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.icon {
  width: 25px;
  height: 25px;
}
